<!DOCTYPE html>
<html lang="en">
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body>
        <%- include("particles/nav.ejs") %>

        <div class="threeDivs">
            <div class="leftImage"><img class="imgBorderSizes" alt="" src="images/picture15.png"></div>
            <div class="rightImage"><img class="imgBorderSizes" alt="" src="images/picture14.png"></div>
            <div class="content">
                <h1 class="title" id="underline">About Page</h1>
                <div class="question">
                    <h4>When coming to the Festival we do have a few rules about what you can bring in. Bring what you need to have an enjoyable weekend...and remember, you have to carry it from your car or bus station to the campsite.</h4>
                    <h4>As part of our commitment to reducing plastic waste we have plenty water points around the site so we actively encourage you to bring in empty refillable drinks bottles that you can fill up & keep hydrated at all times.</h4>
                    <h4>Please dispose of your litter responsibly. There are recycling bins and general waste bins throughout the Festival Site. Please recycle your cups by returning them to the designated cup return points located by the main bars around the site.</h4>
                    <h4>Camping style chairs & inflatable seating are allowed on-site, but please be aware there will be a designated point in the Main Arena beyond which you will not be able to take such items.</h4>
                    <h4>If you're bringing a baby you can bring in formula milk powder to mix up or food in pouches for them, but please no glass. For anyone else, food is only allowed in the Campsite.</h4>
                </div>
            </div>
        </div>
    
    </body>


</html>