<!DOCTYPE html>
<html lang="en">
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body>
        <%- include("particles/nav.ejs") %>
        
        <div class="threeDivs">
            <div class="leftImage"><img class="imgBorderSizes" alt="" src="images/picture7.png"></div>
            <div class="rightImage"><img class="imgBorderSizes" alt="" src="images/picture8.png"></div>
            <div class="content">
                <h1 class="title" id="underline">FAQ</h1>
                <div class="question">
                    <h3>What Personal Protection Equipment will be present at the festival?</h3>
                    <h4>The festival will be providing every ticket holder with a complimentary face mask and 100ml bottle of hand sanitiser.</h4>
                    <h3>Will the artists be wearing Personal Protective Equipment?</h3>
                    <h4>The performers at the festival will be fully equipped with the latest in COVID19 prevention gear and will be expected to wear it.</h4>
                    <h3>If I get COVID will I be able to get a full refund?</h3>
                    <h4>Unfortunately the festival is unable to provide a refund for any tickets as the festival has a No Refund Policy on all purchases.</h4>
                </div>
            </div>
        </div>

    </body>


</html>