<!DOCTYPE html>
<html lang="en">
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body>
        <%- include("particles/nav.ejs") %>
        <%- include("particles/cookies.ejs") %>
        <div class="threeDivs">
            <div class="leftImage"><img class="imgBorderSizes" alt="" src="images/picture1.png"></div>
            <div class="rightImage"><img class="imgBorderSizes" alt="" src="images/picture2.png"></div>
            <div class="content">
                <img id="mainLogo" alt="" src="images/logo2.png">
                <h1 id="festdate">39th July - 31st July</h1>
            </div>
        </div>
    </body>


</html>