<div id="cookieBanner">
    This is a warning about the use of cookies on this website. By closing and using the website you accept that cookies will be used.
    <button id="closeCookies">Close</button>
    <script src="scripts/cookieBanner.js"></script>
</div>
