<nav>
    <img src="images/logo1.png" id="navlogo">
    <ul class="navbar">
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/lineup">Line Up Page</a></li>
            <li><a href="/stage">Stage Page</a></li>
            <li><a href="/faq">FAQ Page</a></li>
            <li><a href="/game">Game</a></li>
            <button id="contactButton">Contact Us</button>
            <script src="scripts/contactButton.js"></script>
    </ul>




</nav>
